JWT_PRIVATE_KEY=zeyfgzeigfyzegfyuzegf
NODE_ENV="test"
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://localhost:4001"
SERVER_HOST="localhost"
SERVER_PORT="4001"
DB_HOST=localhost
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
DB_PORT=5432
BASE_URL=http://localhost:3000
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=465
SMTP_USER=95b8fc1eb0b19737c6eae68409c31952
SMTP_PASS=api-key
EMAIL_FROM=contact@app.com
FRONTEND_URL=http://localhost:3000